
{{#each restaurants as |restaurant|}}
  {{log restaurant}}
  <section data-id="{{restaurant.id}}">
    <h6></h6>
    <h3>
      {{restaurant.name}}
    </h2>
    <h6>Description:</h6>
    <p>
      {{#if restaurant.description}}
        {{restaurant.description}}
      {{else}}
        No description provided.
      {{/if}}
      <h6>Location:</h6>
      {{#if restaurant.location}}
        {{restaurant.location}}
      {{else}}
        No location provided.
      {{/if}}
    </p>
    <button type="submit" class="btn btn-danger delete-restaurant">Delete</button>
    <!-- {{> partial}} -->
    <form class="update-restaurant">
      <h4>Update entry</h4>
      <input type="text" name="restaurant[name]" placeholder="Updated Name"/>
      <input type="text" name="restaurant[location]" placeholder="Updated Location"/>
      <input type="text" name="restaurant[description]" placeholder="Updated Description"/>
    <button type="submit" class="btn btn-danger update-restaurant" data-id="{{restaurant.id}}">Edit</button>
    </form>
  </section>

{{/each}}
